# OS files
*.DS_Store

# Environment files (DO NOT COMMIT .envs)
.env
.env.*

# Logs
*.log

# Backend build artifacts
weather-app/target/
*.class

# Frontend build artifacts
weather-app-react/build/

# Node and Maven dependencies
**/node_modules/
**/build/
**/target/

# IDE files
.idea/
*.iml
.project
.settings/
.vscode/

# Docker override (local only)
docker-compose.override.yml