@import "tailwindcss";

@font-face {
  font-family: 'bearpawregular';
  src: url('assets/fonts/bearpaw_regular_macroman/BEARPAW_-webfont.woff') format('woff'),
       url('assets/fonts/bearpaw_regular_macroman/BEARPAW_-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'carved-wood';
  src: url('assets/fonts/Carved-Wood/CARVEDWOOD.otf') format('opentype'),
       url('assets/fonts/Carved-Wood/CARVEDWOODRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'crayon';
    src: url('assets/fonts/eraser_regular_macroman/EraserRegular-webfont.woff') format('woff'),
         url('assets/fonts/eraser_regular_macroman/EraserRegular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'frente';
  src: url('assets/fonts/frenteh1_regular_macroman/FrenteH1-Regular-webfont.woff') format('woff'),
       url('assets/fonts/frenteh1_regular_macroman/FrenteH1-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}



